* {
    font-family: 'Tahoma', 'Arial';
    text-align: center;
}

p {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: blue;
}


.lol-ranks {
    width: 2em;
    height: 2em;
}

.smashersapp {
    font-size:2em;
}
